*
!*.*
!*/
*.swp
!Makefile
.*
*.png
*.exe
/csharp/ifa12b/PupilList/Makefile
/csharp/ifa12b/PupilList/Makefile.in
/csharp/ifa12b/PupilList/PupilList/Makefile
/csharp/ifa12b/PupilList/PupilList/Makefile.in
/csharp/ifa12b/PupilList/PupilList/bin/
/csharp/ifa12b/PupilList/aclocal.m4
/csharp/ifa12b/PupilList/config.*
/csharp/ifa12b/PupilList/autom4te.cache/
/cpp/if11f/output_readings.txt
/sql/databases/wetterdaten_BT.sql
/sql/databases/world.sql
/csharp/ifa12b/Stack/Makefile
/csharp/ifa12b/Stack/Makefile.in
/csharp/ifa12b/Stack/Stack/Makefile
/csharp/ifa12b/Stack/Stack/Makefile.in
/csharp/ifa12b/Stack/Stack/bin/
/csharp/ifa12b/Stack/aclocal.m4
/csharp/ifa12b/Stack/config.*
/csharp/ifa12b/Stack/autom4te.cache/
/csharp/ifa12b/StackGodot/Export/
export_presets.cfg
/csharp/ifa12b/BracketChecker/bin/
/csharp/ifa12b/TrafficLight/export/
